# Fix for "dependency checking of directories is unsound" warning
startup --host_jvm_args=-DBAZEL_TRACK_SOURCE_DIRECTORIES=1

common --@aspect_rules_ts//ts:skipLibCheck=honor_tsconfig

# Use "tsc" as the transpiler when ts_project has no `transpiler` set.
# Bazel 6.4 or greater: 'common' means 'any command that supports this flag'
common --@aspect_rules_ts//ts:default_to_tsc_transpiler