.idea
.nyc_output
.project
.settings
.tmp
coverage
node_modules/
npm-debug.log
yarn-error.log

# Bazel output directories
bazel-*

# Note: /dist/Autolinker.js and /dist/Autolinker.min.js are not gitignored to
# allow for Bower
/dist/commonjs
/dist/es2015