{
    "extends": "@istanbuljs/nyc-config-typescript",
    "reporter": [
        "text",
        "text-summary",
        "html",
        "json-summary",
        "lcovonly"
    ],
    "report-dir": "coverage",
    "include": [
        "src/**/*"
    ]
}